
	<%= render 'books/list', book: @book %>

<div class="col-md-9">

<h1>Book deteal</h1>

<table class="table table-striped">
	<tbody>
		<tr>
			<td><%= attachment_image_tag current_user, :profile_image, class: "user_image", fallback: "t2AdqcaA.jpeg", :size =>'30x30' %></td>
　　　　　　　<td><%= @books.title %></td>
			<td><%= @books.body %></td>
			<td><%= link_to "Edit" ,edit_book_path(@books.id) ,class: "btn btn-success dropdown-toggle edit_#{@books.id}"%></td>
			<td><%= link_to "Destroy", book_path(@books.id), method: :delete ,class: "btn btn-danger dropdown-toggle destroy_book_#{@books.id}", "data-confirm" => "本当に削除しますか？" %></td>
		</tr>
	</tbody>
</table>
</div>
</div>